* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  background-color: white;
  padding: 15px;
  width: 280px;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 15px;
  box-shadow: 6px 6px 0 0;
}

.illustration {
  width: 100%;
  border-radius: 10px;
}

h4 {
  display: inline-block;
  font-size: 0.8rem;
  margin: 10px 0;
  padding: 4px 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 7%);
  font-weight: 700;
  background-color: hsl(47, 88%, 63%);
}
h6 {
  color: hsl(0, 0%, 7%);
  font-size: 0.8rem;
  margin-bottom: 12px;
}

h2 {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 800;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

h2:hover {
  color: hsl(47, 88%, 63%);
}

p {
  font-size: 0.7rem;
  color: hsl(0, 0%, 50%);
  margin: 10px 0;
  font-weight: 500;
}

.avatar {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.author {
  display: flex;
  margin: 20px 0 0;
  justify-content: flex-start;
}

.author p {
  font-size: 0.7rem;
  color: hsl(0, 0%, 7%);
  font-weight: 700;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: -12%;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
  font-size: 0.6rem;
  font-weight: 500;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution p {
  color: hsl(0, 0%, 7%);
}

/* Responsive Design  */

@media (max-width: 375px) {
  .container {
    height: 100%;
  }

  .card {
    width: 90%;
    margin: 10px;
  }

  h2 {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.7rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.7rem;
  }

  .avatar {
    width: 30px;
  }

  .attribution {
    font-size: 0.5rem;
    text-align: center;
  }

  .attribution p {
    font-size: 0.6rem;
  }

  .author p {
    font-size: 0.6rem;
  }

  .illustration {
    width: 100%;
    border-radius: 10px;
  }
}
